*{ box-sizing: border-box; }



body {
	background-color: #071112;
}

@font-face {
    font-family: SystemaEncephale;
    src: url(SystemaEncephale.ttf);
}

header {
	font-size: 4rem;
	font-family: SystemaEncephale;
	color: #DFE6E1;
	display: flex;
	justify-content: center;
	font-size: 5rem;

}

.container {
	display: flex;
	flex-wrap: wrap;
	padding: 0 2rem 0 2rem;
	flex-direction: row;

}

.container .tool {
	flex: 0 0 25%;
	padding: 1rem;
}

svg:hover #inner-eye {
	transition: 500ms;
  	transition-timing-function: ease-in-out;
  	-webkit-transition: 500ms;
  	-webkit-transition-timing-function: ease-in-out;
	fill: #59F8E8;
}

#outer-eye {
	transition: 1000ms;
  	transition-timing-function: ease-in-out;
  	-webkit-transition: 1000ms;
  	-webkit-transition-timing-function: ease-in-out;
}

#outer-eye:hover { filter:url(#blur-effect-1); }

svg { cursor: pointer;
	transform-origin: 50%;
	overflow: visible !important;
 }

#eye { transition: all .4s ease-in-out; }
#eye:hover { transform: scale(.75); opacity: .5;}

#hand { transition: all .4s ease-in-out; 
}
#hand:hover { 
	transform: scale(1.1);
	fill: #59F8E8;

}


@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#geometry {
	animation: rotating 6s linear infinite;
}




@media screen and (max-width: 48rem) {
	.container .tool {
		flex: 0 0 33.3%;
	}

	header {
		font-size: 4rem;
	}
}


@media screen and (max-width: 30rem) {
	.container .tool {
		flex: 0 0 50%;
	}

	header {
		font-size: 3rem;
	}
}

@media screen and (max-width: 20rem) {
	.container .tool {
		flex: 0 0 100%;
	}

	header {
		font-size: 2rem;
	}
}

